<div class="container">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last" *ngIf="productsInCart.cartProducts">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">{{productsInCart.cartProducts.length}}</span>
      </h4>
      <ul class="list-group mb-3">

        <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let p of productsInCart.cartProducts">
          <div>

            <h6 class="my-0">{{p.name}}</h6>
            <small class="text-body-secondary">{{p.quantity}} pieces</small>
          </div>
          <span class="text-body-secondary">{{p.price|currency}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>{{promoCode}}</small>
          </div>
          <span class="text-success">{{-discount|currency}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>{{total | currency}}</strong>
        </li>
      </ul>


      <div class="input-group">
        <input type="text" #code class="form-control" placeholder="Promo code" (keydown)="applyDiscount(code.value)">
        <button type="submit" class="btn btn-secondary" (click)="applyDiscount(code.value)">Redeem</button>
      </div>

    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" [formGroup]="userInfo" (ngSubmit)="makeOrder()">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Please Enter Your First Name here" required [ngClass]="{'is-invalid':(userInfo.controls['firstName'].touched||userInfo.controls['firstName'].dirty) && userInfo.controls['firstName'].invalid }">
            <span class="invalid-feedback">
              <span *ngIf="userInfo.controls['firstName']?.errors?.['required']">Please enter, This is required</span>
              <span *ngIf="userInfo.controls['firstName']?.errors?.['minlength']">Please Enter, Valid Minimum Length</span>


            </span>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Please Enter Your First Name here" required [ngClass]="{'is-invalid':(userInfo.controls['lastName'].touched||userInfo.controls['lastName'].dirty) && userInfo.controls['lastName'].invalid }">
            <span class="invalid-feedback">
              <span *ngIf="userInfo.controls['lastName']?.errors?.['required']">Please enter, This is required</span>
              <span *ngIf="userInfo.controls['lastName']?.errors?.['minlength']">Please Enter, Valid Minimum Length</span>


            </span>
          </div>
          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input formControlName="address" type="text" class="form-control" id="address" placeholder="1234 Main St" required [ngClass]="{'is-invalid':(userInfo.controls['address'].touched||userInfo.controls['address'].dirty) && userInfo.controls['address'].invalid }">
            <span class="invalid-feedback">
              <span *ngIf="userInfo.controls['address']?.errors?.['required']"> Please enter your shipping address.</span>

            </span>
          </div>





          <div class="col-12">
            <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
          </div>



        </div>

        <hr class="my-4">


        <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!userInfo.valid">
          Continue to checkout
        </button>
        <ng-container>
          <span class="invalid-feedback">Please Make Sure To Enter All Required Fields</span>
        </ng-container>

      </form>
    </div>
  </div>
</div>