<ng-container *ngIf="product.name">
  <div class="p-4 container">

    <div class="d-flex justify-content-around row mt-5 ">

      <div class="col-lg-6 col-sm-10 text-center w-sm-20 p-2 mb-sm-5">
        <h2 style="font-family:'Courier New'" class="fw-bold">{{product.name}}</h2>
        <br>
        <img class=" w-sm-100" src="{{product.url}}" alt="{{product.name}}" style="max-height:300px;max-width:500px">
        <br>
        <div class="d-flex justify-content-center  mt-3 mb-3">
          <button class="btn btn-primary fw-bold" (click)="decreaseQuantity(product)" [disabled]="!product.quantity">-</button>

          <div class="m-2 fw-bold">{{product.quantity}}</div>
          <button class="btn btn-primary fw-bold" (click)="increaseQuantity(product)">+</button>

        </div>
        <button class="btn me-2 p-2" (click)="product.added?removeFromCart(product):addToCart(product)" [disabled]="!product.quantity" [ngClass]="product.added?' btn-danger':'btn-primary'">
          <span *ngIf="product.added"><i class="fa-solid fa-trash"></i></span>
          <span *ngIf="!product.added"><i class="fa-solid fa-cart-shopping"></i></span>
          {{product.added?'Remove From Cart':'Add To Cart'}}
        </button>


      </div>
      <div class="justify-content-center text-center col-lg-4 col-sm-10 ">
        <ng-container class="info" *ngFor="let property of product.description | keyvalue">
          <p class="border-bottom fw-bold">{{property.key}} : {{property.value}}</p>

        </ng-container>



      </div>
    </div>
    <div class=" row">
      <div class="mt-1  col-md-12 col-sm-12 col-12">

        <div class="text-start p-1 ">
          <p class="card-text-title border-bottom">overview:</p>
        </div>
        <div class="text-lg-start text-md-center m-5 mt-2 px-2">
          <ul class="list-group">
            <li class="list-group-item">{{product.about.split('.')[0]}}</li>
            <li class="list-group-item">{{product.about.split('.')[1]}}</li>
          </ul>


        </div>

      </div>

      <div class="justify-content-center row">
        <div class="mt-2 d-flex justify-content-around  col-md-10 col-sm-12 col-12"><button type="button" class="btn btn-primary">Go Back</button><a href="https://johnwick.movie"><button class="btn btn-primary" style="background-color: rgb(180, 91, 53); border: none;">Watch Movie</button></a></div>
      </div>
    </div>
  </div>
</ng-container>