<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">
      <i class="fa fa-dashboard"></i>
      Dashboard</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item text-center mb-2" *ngFor="let route of routes">
      <a class="nav-link text-white" routerLink="{{route}}" routerLinkActive="test">{{route|| 'Home' | uppercase}}</a>
    </li>

  </ul>
  <hr>
  <div class="dropdown text-center mx-auto">
    <a routerLink="home" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="./assets/admin.png" alt="" width="40" height="40" class="rounded-circle me-2">
      <strong>Admin</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" routerLink="home">New project...</a></li>
      <li><a class="dropdown-item" routerLink="home">Settings</a></li>
      <li><a class="dropdown-item" routerLink="home">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" routerLink="home">Sign out</a></li>
    </ul>
  </div>
</div>