   <ng-container *ngIf="allProducts.length;">
     <div class="list-group text-center">
       <table class="table">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Name</th>
             <th scope="col">Price</th>
             <th scope="col">Sold</th>
             <th scope="col">Edit</th>
             <th scope="col">Remove</th>
           </tr>
         </thead>
         <tbody>
           <ng-container *ngFor="let pro of allProducts">

             <tr>
               <th scope="row">{{pro.id}}</th>
               <td>{{pro.name}}</td>
               <td>{{pro.price}}</td>
               <td>0</td>
               <td><button class="btn" (click)="edit(pro)"><i class="fas fa-edit"></i></button></td>
               <td><button class="btn" (click)="remove(pro.id)"><i class="fas fa-remove"></i></button></td>

             </tr>
           </ng-container>
         </tbody>
       </table>

     </div>
   </ng-container>